@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: black;
}

.bgmicrofono {
  background-image: url("../../public/microfono-bg.webp");
  background-size: fixed;
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(1.2) brightness(0.9);
  background-attachment: fixed;
}

.contactIcon:hover {
  fill: white;
}
