@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: black;
}

.bgmicrofono {
  background-image: url("../../public/microfono-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.contactIcon:hover {
  fill: white;
}
